<html lang="en">
    <%- include('./partials/styles.ejs') %>
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <h1>About Page</h1>
        <h2>Implementing a login and search feature in a Node.js environment, utilizing Restful APIs with PostgreSQL and MongoDB
            databases.</h2>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>
